.app {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    width: 100%;
}

.app__video {
    margin-right: 20px;
    width: 100%;
}

.app__videoList {
    margin-top: 4%;
    margin-right: 5%;
}
